.destination-layout .header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./header.jpg) no-repeat;
    /* 缩放背景图片以覆盖整个背景区 */
    background-size: cover;
    padding-top: 57px;
}
.destination-layout .header-title {
    color: #fff;
    margin-bottom: 17px;
    font-size: 18px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}